.foodList {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.foodList div {
    border: 1px solid maroon;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    margin: 10px;
}

h1 {
    font-size: 1.2em;
    margin: 5px;
}

p {
    margin: 5px;
    width: 90%;
}